.mdl-textfield {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;

  &.mdl-textfield--half {
    width: 120px;

    .duration {
      margin-left: 20px;
    }
  }

  &__input {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .mdl-button {
    box-sizing: content-box;
    flex-grow: 1;
    position: static;
  }
}
