.main-block {
  padding: 0 5%;

  button + button {
    margin-left: 20px;
  }

  padding-bottom: 50px;
}

.mdl-badge[data-badge]:after {
  border-radius: 2px;
  font-weight: 100;
  height: auto;
  padding: 2px;
  width: auto;
}
