$colors-list: (
  unquote("rgb(#{$palette-blue-200})"),
  unquote("rgb(#{$palette-orange-200})"),
  unquote("rgb(#{$palette-yellow-200})"),
  unquote("rgb(#{$palette-purple-200})"),
  unquote("rgb(#{$palette-indigo-200})"),
  unquote("rgb(#{$palette-blue-grey-200})"),
  unquote("rgb(#{$palette-light-blue-200})"),
  unquote("rgb(#{$palette-lime-200})"),
  unquote("rgb(#{$palette-teal-200})"),
  unquote("rgb(#{$palette-deep-orange-200})"),
  unquote("rgb(#{$palette-pink-200})"),
  unquote("rgb(#{$palette-brown-200})"),
  unquote("rgb(#{$palette-green-200})"),
  unquote("rgb(#{$palette-grey-200})"),
  unquote("rgb(#{$palette-red-200})"),
  unquote("rgb(#{$palette-amber-200})"),
  unquote("rgb(#{$palette-light-green-200})"),
  unquote("rgb(#{$palette-cyan-200})"),
  unquote("rgb(#{$palette-deep-purple-200})")
);

.timeline {
  align-items: stretch;
  border: 3px solid rgba(0, 0, 0, .12);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  height: 200px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  &__item {
    background-color: $text-link-color;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    justify-content: center;
    margin-right: 2px;
    padding: 0 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__progress-bar {
    background-color: rgba(0, 0, 0, .12);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width .1s linear;
    width: 0;
    will-change: width;
  }
}

@for $i from 1 through length($colors-list) {
  $color: nth($colors-list, $i);

  .timeline__item:nth-child(#{$i}n) {
    background-color: $color;
  }
}
